<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <h3 style="color: gray; font-family: Arial, Helvetica, sans-serif;">Design anything<br>
                publish anywhere.</h3>
            <div class="details" style="font-family: Georgia, 'Times New Roman', Times, serif;">
                <p style="font-size: 17px;">

                    
                   Image result for front end back end communication
                    Frontend and backend communicate with each other - via Http requests. The frontend will, for
                    example,
                    send
                    entered data to the backend. The backend might then again validate that data (since frontend code
                    can be
                    tricked) and finally store it in some database.Here i am used (Angular, express js, mysql)
                </p>

            </div>
        </div>

        <div class="col">
            <img src="../../assets/homeimage.jfif" width="100%" alt="">
            
        </div>

    </div>
</div>